{% extends "base_generic.html" %}

{% block content %}
{% load widget_tweaks %}
<form method="get">
    <div class="well">
        <h4 style="margin-top: 0">검색</h4>
        <div class="row">
            <div class="form-group col-sm-4 col-md-3">
                {{filter.form.type.label_tag}}
                {% render_field filter.form.type class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{filter.form.title.label_tag}}
                {% render_field filter.form.title class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{filter.form.content.label_tag}}
                {% render_field filter.form.content class="form-control" %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </div>

</form>

{% if filter.qs %}
<table class="table table-hover table-bordered">
    <thead>
    <tr class="table-info">
        <th class="align-middle text-center">번호</th>
        <th class="align-middle text-center">작성일</th>
        <th class="align-middle text-center">작성자</th>
        <th class="align-middle text-center">구분</th>
        <th>제목</th>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for blog in filter.qs %}
    <tr>
        <td class="align-middle text-center">{{blog.id}}</td>
        <td class="align-middle text-center">{{blog.updated_at|date:"y-m-d"}}</td>
        <td class="align-middle text-center">{{blog.created_by}}</td>
        <td class="align-middle text-center">{{blog.type}}</td>
        <td class="align-middle"><a href="{{blog.get_absolute_url}}">{{blog.title}}</a></td>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>기관이 없습니다</p>
{% endif %}

<a href="./create" class="btn btn-primary">등록</a>
{% endblock %}