{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.js"></script>
<script type="text/javascript">

function update(id_parent, id_comment){
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#id_comment").offset().top
    }, 2000);
    var com_id = '#id_comment_comment_'+id_comment;
    alert($(com_id).text());
    $("#id_comment").val($(com_id).text());
    $("#id_comment").focus();
    $("#id_parent").val(id_parent);
    $("#id_id").val(id_comment);
}

<!--function delete(id){-->
<!-- alert(id);-->
<!--            $('#id_parent').val(id);-->
<!--           }-->

</script>
<table class="table table-hover table-bordered">
    <thead>
    <tr class="table-info">
        <!--        <th>번호</th>-->
        <th>내용</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <!--        <td>{{institution.id}}</td>-->
        <td>{{blog.content|safe}}</td>
    </tr>
    </tbody>
</table>


<div class="well">
    {%include "blog/comment_item.html" %}
</div>

<div class="well">
    <form method="post">{% csrf_token %}
        {{form|crispy }}
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
</div>

<a class="btn btn-primary" href="./{{blog.id}}/update">수정</a>
<a class="btn btn-primary" href="./{{blog.id}}/delete">삭제</a>


{% endblock %}


