
<ul>
    {% for comment in comment_list %}
    <li class="list-group-item mb-1">
        <h5 class="">{{comment.comment}}</h5>
        <div>
            <p class="mb-1" style="display:inline-block">{{comment.created_by}}</p>
            <small class="text-muted">{{comment.created_at|date:"y-m-d H:m:s"}} {% ifequal user.id comment.created_by.id %}
                <button onClick="javscript:update({{comment.created_by.id}});">수정</button>{% endifequal %}
            </small></div>
    </li>
    {% if comment.child_set.all %}
    {% with comment.child_set.all as comment_list %}
    {% include "blog/comment_item.html" %}
    {% endwith %}
    {% endif %}
    {% endfor %}
</ul>

